#right-sec {
    float: right;
    padding-top: 50px;
    border-top: 1px solid #c2bcbc;
    border-radius: 5px;
    background-color: #fff;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #c2bcbc;
    padding: 10px;
   padding-bottom: 20px;
    border-radius: 5px;
}